/* Base */
img {
    max-width: 100%;
}

/* Login */
.login-container {
    margin: 20px auto;
    max-width: 600px;
    padding: 0 15px;
}

/* Fetch comics */
.fetch-comics-container {
    margin: 20px auto;
    padding: 0 15px;
}
.comic-list {
    list-style: none;
    padding: 0;
}
.comic-list__item {
    margin: 0 0 18px;
}
