.comic-detail {
	display: flex;

	&__image {
		flex-shrink: 0;
		width: 200px;

		@media (max-width: 640px) {
			width: 40%;
		}
	}
	&__info {
		padding-left: 12px;
	}
	&__tracking {
		margin: 12px 0;
	}
}
